 .container {
     max-width: 1170px;
     margin: auto;
     text-align: center;
     height: 100%;
     border-radius: 9%;
 }
 
 img {
     max-width: 100%;
 }
 
 .inbox_people {
     background: #f8f8f8 none repeat scroll 0 0;
     float: left;
     overflow: hidden;
     width: 40%;
     border-right: 1px solid green;
 }
 
 .inbox_msg {
     border: 1px solid #2c9fbe;
     ;
     clear: both;
     overflow: hidden;
     border-radius: 2%;
     height: calc(115vh - 110px);
     background-color: #2c9fbe;
 }
 
 .top_spac {
     margin: 20px 0 0;
 }
 
 .channel_heading {
     text-align: center;
     /* width: 40%; */
 }
 
 .srch_bar {
     display: inline-block;
     text-align: right;
     width: 60%;
 }
 
 .headind_srch {
     padding: 10px 29px 10px 20px;
     overflow: hidden;
     border-bottom: 1px solid #c4c4c4;
 }
 
 .channel_heading h4 {
     color: #05728f;
     font-size: 22px;
     text-align: center;
 }
 
 .srch2 {
     border: 1px solid #cdcdcd;
     border-width: 0 0 2px 0;
     width: 70%;
     padding: 2px 0 4px 6px;
     background-color: wheat;
 }
 
 .srch_bar .input-group-addon button {
     background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
     border: medium none;
     padding: 0;
     color: #707070;
     font-size: 18px;
     background-color: #2c9fbe
 }
 
 .srch_bar .input-group-addon {
     margin: 0 0 0 -27px;
 }
 
 .chat_ib h5 {
     font-size: 15px;
     color: #464646;
     margin: 0 0 8px 0;
 }
 
 .chat_ib h5 span {
     font-size: 13px;
     float: right;
 }
 
 .chat_ib p {
     font-size: 14px;
     color: #989898;
     margin: auto
 }
 
 .chat_img {
     float: left;
     width: 11%;
 }
 
 .chat_ib {
     float: left;
     padding: 0 0 0 15px;
     width: 88%;
 }
 
 .chat_people {
     overflow: hidden;
     clear: both;
 }
 
 .chat_list {
     border-bottom: 1px solid #c4c4c4;
     margin: 0;
     padding: 18px 16px 10px;
     background-color: #646D6D;
 }
 
 .inbox_chat {
     /* height: 550px; */
     overflow-y: scroll;
     height: calc(115vh - 110px);
     position: relative;
     overflow: hidden;
     background-color: #646D6D;
 }
 
 .active_chat {
     background: #2c9fbe;
 }
 
 .incoming_msg_img {
     display: inline-block;
     width: 6%;
 }
 
 .received_msg {
     display: inline-block;
     padding: 0 0 0 10px;
     vertical-align: top;
     width: 92%;
 }
 
 .received_withd_msg p {
     background: #ebebeb none repeat scroll 0 0;
     border-radius: 3px;
     color: #646464;
     font-size: 14px;
     margin: 0;
     padding: 5px 10px 5px 12px;
     width: 100%;
 }
 
 .time_date {
     color: #747474;
     display: block;
     font-size: 12px;
     margin: 8px 0 0;
 }
 
 .received_withd_msg {
     width: 57%;
 }
 
 .mesgs {
     float: left;
     padding: 30px 15px 0 25px;
     width: 60%;
 }
 
 .sent_msg p {
     background: #05728f none repeat scroll 0 0;
     border-radius: 3px;
     font-size: 14px;
     margin: 0;
     color: #fff;
     padding: 5px 10px 5px 12px;
     width: 100%;
 }
 
 .outgoing_msg {
     overflow: hidden;
     margin: 26px 0 26px;
 }
 
 .sent_msg {
     float: right;
     width: 46%;
 }
 
 .input_msg_write input {
     background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
     border: medium none;
     color: #4c4c4c;
     font-size: 15px;
     min-height: 48px;
     width: 100%;
 }
 
 .type_msg {
     border-top: 1px solid #c4c4c4;
     position: relative;
 }
 
 .msg_send_btn {
     background: #2c9fbe none repeat scroll 0 0;
     border: medium none;
     border-radius: 50%;
     color: #fff;
     cursor: pointer;
     font-size: 17px;
     height: 33px;
     /* position: absolute;
     right: 0;
     top: 11px;
     width: 33px; */
 }
 
 .messaging {
     padding: 0 0 50px 0;
 }
 
 .msg_history {
     height: 516px;
     overflow-y: auto;
 }
 
 .message {
     list-style-type: none;
 }
 
 :root {
     --dark-color-a: #667aff;
     --dark-color-b: #7386ff;
     --light-color: #e6e9ff;
     --success-color: #5cb85c;
     --error-color: #d9534f;
 }
 /* * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 } */
 /* body {
     font-family: 'Roboto', sans-serif;
     font-size: 16px;
     background: var(--light-color);
     margin: 20px;
 } */
 
 ul {
     list-style: none;
 }
 
 a {
     text-decoration: none;
 }
 
 .btn {
     cursor: pointer;
     padding: 5px 15px;
     background: var(--light-color);
     color: var(--dark-color-a);
     border: 0;
     font-size: 17px;
 }
 
 .message-container {
     /* background-color: white;
     padding: 7px;
     border-radius: 5px;
     
     max-width: auto;
     margin-bottom: 22px;
     background-color: lightskyblue;
     width: 200px;
     height: 50px;
     text-align: center;
     font: 400 .9em 'Open Sans', sans-serif;
     border: 1px solid #dfd087;
     border-radius: 10px; */
     position: relative;
     margin-bottom: 30px;
     margin-left: 10%;
     padding: 10px;
     background-color: #f8e896;
     width: 200px;
     height: 50px;
     text-align: right;
     font: 400 .9em 'Open Sans', sans-serif;
     border: 1px solid #dfd087;
     border-radius: 10px;
 }
 
 .message-container3 {
     /* padding: 7px;
     border-radius: 5px;
     
     max-width: auto;
     margin-bottom: 22px;
     background-color: rgb(158, 91, 28);
     width: 200px;
     height: 50px;
     text-align: center;
     font: 400 .9em 'Open Sans', sans-serif;
     border: 1px solid #dfd087;
     border-radius: 10px; */
     position: relative;
     margin-left: 20px;
     margin-bottom: 23px;
     padding: 10px;
     background-color: #A8DDFD;
     width: 200px;
     height: 50px;
     text-align: left;
     font: 400 .9em 'Open Sans', sans-serif;
     border: 1px solid #97C6E3;
     border-radius: 10px;
     display: flex;
     justify-content: flex-start;
 }
 /* .user-list-card {
     background-color: white;
     border-radius: 10px;
     box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
     height: calc(100vh - 100px);
     padding: 10px;
 } */
 /* .user-card {
     display: flex;
     padding: 10px;
     cursor: pointer;
 } */
 
 .rightsid {
     background-color: cyan;
     border-radius: 10px;
     box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
     height: calc(115vh - 110px);
     position: relative;
     overflow: hidden;
 }
 
 .chat-body {
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center center;
     height: calc(100vh - 100px);
     padding: 30px;
     overflow-y: auto;
 }
 
 .chat-footer {
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     width: 450px;
     padding: 20px 20px;
 }
 
 .chatInput {
     width: 100%;
 }
 
 .form-control {
     background-color: blueviolet;
     border: 1px solid #D8DDEC;
     box-sizing: border-box;
     border-radius: 20px;
     font-size: 1rem;
     color: black;
 }
 
 .container2 {
     width: 400px;
     padding: 10px;
 }
 
 .message-blue {
     position: relative;
     margin-left: 20px;
     margin-bottom: 10px;
     padding: 10px;
     background-color: #A8DDFD;
     width: 200px;
     height: 50px;
     text-align: left;
     font: 400 .9em 'Open Sans', sans-serif;
     border: 1px solid #97C6E3;
     border-radius: 10px;
 }
 
 .message-orange {
     position: relative;
     margin-bottom: 10px;
     margin-left: calc(100% - 240px);
     padding: 10px;
     background-color: #f8e896;
     width: 200px;
     height: 50px;
     text-align: left;
     font: 400 .9em 'Open Sans', sans-serif;
     border: 1px solid #dfd087;
     border-radius: 10px;
 }
 
 .message-content2 {
     padding: 0;
     margin: 0;
 }
 
 .message-timestamp-right {
     position: absolute;
     font-size: .85em;
     font-weight: 300;
     bottom: 5px;
     right: 5px;
 }
 
 .message-timestamp-left {
     position: absolute;
     font-size: .85em;
     font-weight: 300;
     bottom: 5px;
     left: 5px;
 }
 
 .message-blue:after {
     content: '';
     position: absolute;
     width: 0;
     height: 0;
     border-top: 15px solid #A8DDFD;
     border-left: 15px solid transparent;
     border-right: 15px solid transparent;
     top: 0;
     left: -15px;
 }
 
 .message-blue:before {
     content: '';
     position: absolute;
     width: 0;
     height: 0;
     border-top: 17px solid #97C6E3;
     border-left: 16px solid transparent;
     border-right: 16px solid transparent;
     top: -1px;
     left: -17px;
 }
 
 .message-orange:after {
     content: '';
     position: absolute;
     width: 0;
     height: 0;
     border-bottom: 15px solid #f8e896;
     border-left: 15px solid transparent;
     border-right: 15px solid transparent;
     bottom: 0;
     right: -15px;
 }
 
 .message-orange:before {
     content: '';
     position: absolute;
     width: 0;
     height: 0;
     border-bottom: 17px solid #dfd087;
     border-left: 16px solid transparent;
     border-right: 16px solid transparent;
     bottom: -1px;
     right: -17px;
 }
 
 .block {
     background-color: red;
     border: none;
     color: white;
     padding: 12px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 15px;
     border-radius: 8px;
 }
 
 .block2 {
     background-color: rgb(56, 168, 56);
     border: none;
     color: white;
     padding: 12px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 15px;
     border-radius: 8px;
 }
 
 .sear {
     background-color: #646D6D;
     border: none;
     color: white;
     padding: 7px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 15px;
     border-radius: 8px;
     transition-duration: 0.4s;
     cursor: pointer;
     /* background-color: white; */
     color: black;
     border: 2px solid #008CBA;
 }
 
 .sear:hover {
     background-color: #008CBA;
     color: white;
 }